@import "editor.scss";

* {
  margin: 0;
  padding: 0;
}

.site-content {
  padding: 70px 30px;
  @media screen and (min-width: 480px) {
    padding: 65px 30px;
  }
}

.post {
  &__body {
    font-size: 1.5em;
    font-family: 'GenathRegular';
    text-align: justify;
    @media screen and (max-width: 480px) {
      text-align: left;
    }
    .page-id-21 & { // Impressum page
      font-family: 'PlainBoldRegular', Arial;
      @media screen and (max-width: 480px) {
        font-size: 1em;
      }
    }
    .page-id-11 & { // Essentials page
      @media screen and (max-width: 480px) {
        font-size: 1em;
      }
    }
    .page-id-122 & { // Team
      @media screen and (max-width: 480px) {
        .font__plain {
          font-size: 0.67em;
        }
      }
    }
    .page-id-109 &, .page-id-19 & { // Editorial events, Everything for this time
      strong {
        @media screen and (max-width: 480px) {
          font-weight: normal;
        }
      }
    }
    img.aligncenter {
      display: block;
      margin: 0 auto;
    }
    & strong {
      font-family: 'PlainBoldRegular', Arial;
    }
  }
}

