@import "editor.scss";

* {
  margin: 0;
  padding: 0;
}

.site-content {
  padding: 65px 30px;
}

.post {
  &__body {
    // Impressum page
    .page-id-21 & {
      font-family: 'PlainBoldRegular', Arial;
    }

    font-family: 'GenathRegular';
    font-size: 2em;
    text-align: center;
    & strong {
      font-family: 'PlainBoldRegular', Arial;
    }
  }
}

